body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background: linear-gradient(to bottom, #1e262b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.contenedor {
    width: 90%;
    max-width: 400px;
    padding: 30px;
    border: 5px solid #C82909;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
}

h1, h2 {
    color: rgb(255, 255, 255);
}

button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #C82909;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff4621;
}